.container {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  flex-grow: 1;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #007BFF;
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
